/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* Увеличен размер шрифта для лучшей читабельности */
  line-height: 1.8; /* Увеличена высота строки для более комфортного чтения */
  color: #000000; /* Немного светлее цвет текста */
  background-color: #f1f1f1; /* Изменен фон на более светлый и нейтральный */
}



/* Header styles */

#head {
  background-color: #f1f0ec;
  color: #000;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: 2px solid #000; /* Более толстая линия с цветом, соответствующим вашей цветовой схеме */
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 67px;
  height: 67px;
  vertical-align: middle; /* выравнивание по центру */
}

/* Centre styles */

#centre {
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

#down {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
