/* В menu_panel.css */


.menu-tabs {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 15px 0;
    padding-top: 50px;

}

.tab-button {
    padding: 12px 24px;
    margin-right: 5px;
    border: none;
    background: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    background-color: #878787;


}

.tab-button.active {
    color: #06965c;
    background-color: #303030;
}

.search-content {
    padding: 20px;
}

/* Стили для содержимого поиска */
.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-form input,
.search-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1; /* Позволяет полям занимать оставшееся пространство */
}

.search-button {
    padding: 10px 20px;
    background: #06965c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background: #057f4d;
}